* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #f3f3f3;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  margin: 2rem auto 1rem;
  font-family: "robotoRegular";
  filter: drop-shadow(2px 11px 15px #ccc);
}

h1, h2, h3 {
  font-family: "robotoBold";
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  text-align: center;
  padding: 2rem 0;
}

h3 {
  font-size: 28px;
  text-align: left;
  padding: 2rem 0;
}

p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

a {
  letter-spacing: 1.5px;
}

button {
  font-family: "robotoRegular";
}

img {
  width: 100%;
}

section {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

form {
  font-family: "robotoRegular";
}

@font-face {
  font-family: "robotoRegular";
  src: url("../font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "robotoBold";
  src: url("../font/Roboto/Roboto-Bold.ttf");
}
.nav {
  flex: 3;
  line-height: 40px;
  margin: auto;
}
.nav__navbar {
  display: flex;
  z-index: 6;
}
@media (max-width: 768px) {
  .nav__navbar {
    display: none;
  }
}
.nav__link, .navbar__link {
  text-decoration: none;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .nav__link, .navbar__link {
    display: block;
  }
}
.nav__link--color {
  color: #f3f3f3;
}
.nav__link--hover:hover {
  color: #3CFFFE;
}
.nav__link--active {
  color: #3CFFFE;
}
.nav__divider {
  border-right: 1px solid #f3f3f3;
  height: 40px;
}
@media (max-width: 768px) {
  .nav__divider {
    display: none;
  }
}

.navbar {
  display: none;
  background-color: rgba(25, 39, 77, 0.8);
}
@media (min-width: 769px) {
  .navbar--responsive {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar--responsive {
    display: block;
  }
}
.navbar__link {
  padding: 10px;
  background-color: #19274d;
  text-align: center;
}
.navbar__link:nth-child(1) {
  border-top: solid 1px #3CFFFE;
}
.navbar__link--color {
  color: white;
}
.navbar__link--hover:hover {
  color: #19274d;
  background-color: #3CFFFE;
}
.navbar__link--hover--active {
  background-color: #3CFFFE;
}

.header {
  height: auto;
  background-color: #19274d;
  display: flex;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    position: relative;
  }
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(25, 39, 77, 0.8);
  transition: top 0.5s ease-in-out;
}

.logo {
  flex: 1;
  margin: auto 0px auto 20px;
  padding: 10px 0;
}
.logo__item {
  width: 80px;
}

.contact-info {
  flex: 2;
  padding: 0;
  line-height: 40px;
  margin: auto 20px auto 0;
  color: #f3f3f3;
  text-align: right;
}
.contact-info__email {
  padding-left: 5px;
}
.contact-info__icon {
  font-size: 20px;
}
@media (max-width: 768px) {
  .contact-info {
    flex: 2;
    margin: 0;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 55px;
  }
}

.hamburger {
  position: absolute;
  top: 0;
  right: 16px;
  display: none;
  margin: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
.hamburger__element {
  display: block;
  width: 35px;
  height: 3px;
  background-color: #f3f3f3;
  margin: 7px 0;
}

.container {
  flex: 1 0 auto;
}

.main {
  background-color: #f3f3f3;
  color: #f3f3f3;
}

.home {
  position: relative;
  width: 100%;
  height: 85vh;
}
@media (max-width: 768px) {
  .home {
    height: 60vh;
  }
}
@media (max-width: 500px) {
  .home {
    height: 50vh;
  }
}
.home__left-triangle {
  width: 100%;
  height: 100%;
  background-image: url("../img/code.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0% 0, 0 100%, 100% 0%);
  position: absolute;
  transform: translateX(-1643px);
  transition: all 2s ease-out;
}
@media (max-width: 500px) {
  .home__left-triangle {
    transform: none;
  }
}
.home__left-triangle.slide-right {
  transform: translateX(0%);
}
.home__right-triangle {
  width: 100%;
  height: 100%;
  background-image: url("../img/art.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(100% 0, 0% 100%, 100% 100vh);
  position: absolute;
  transform: translateX(1643px);
  transition: all 2s ease-out;
}
@media (max-width: 500px) {
  .home__right-triangle {
    transform: none;
  }
}
.home__right-triangle.slide-left {
  transform: translateX(0%);
}
.home__heading-1-1 {
  position: absolute;
  top: 30%;
  left: 20%;
}
@media (min-width: 769px) and (max-width: 1170px) {
  .home__heading-1-1 {
    left: 10%;
  }
}
@media (max-width: 768px) {
  .home__heading-1-1 {
    top: 20%;
    left: 10%;
    font-size: 36px;
  }
}
@media (max-width: 500px) {
  .home__heading-1-1 {
    left: 10%;
    font-size: 26px;
  }
}
.home__heading-1-2 {
  position: absolute;
  top: 50%;
  right: 20%;
  color: #f3f3f3;
}
@media (max-width: 768px) {
  .home__heading-1-2 {
    font-size: 36px;
    right: 10%;
  }
}
@media (max-width: 500px) {
  .home__heading-1-2 {
    font-size: 26px;
  }
}
.home__btn {
  position: absolute;
  top: 70%;
  right: 20%;
  padding: 16px;
  transition: 0.5s;
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #3CFFFE;
}
.home__btn--blue {
  color: #f3f3f3;
  background-color: #19274d;
}
.home__btn--hover:hover {
  color: #19274d;
  background-color: #3CFFFE;
  border-color: #19274d;
}

.about {
  width: 100%;
  height: 100%;
  background: url("../../img/pattern-background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about__heading {
  background-color: #19274d;
  color: #f3f3f3;
  border-bottom: solid 1px #3CFFFE;
}
@media (max-width: 768px) {
  .about__heading {
    font-size: 26px;
  }
}
@media (max-width: 500px) {
  .about__heading {
    font-size: 22px;
  }
}
.about__body {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .about__body {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .about__body {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .about__body {
    flex-direction: column;
  }
}
.about__item {
  padding: 16px;
  font-size: 20px;
}
@media (max-width: 500px) {
  .about__item {
    text-align: center;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .about__item-heading {
    text-align: center;
    font-size: 18px;
  }
}
.about__text {
  padding-bottom: 16px;
}
.about__img {
  border: 5px solid #3CFFFE;
  border-radius: 50%;
}

.skills {
  background-image: linear-gradient(#86c7ff, #3CFFFE);
}
.skills__heading {
  color: #19274d;
  border-bottom: solid 1px #19274d;
}
@media (max-width: 768px) {
  .skills__heading {
    font-size: 26px;
  }
}
@media (max-width: 500px) {
  .skills__heading {
    font-size: 22px;
  }
}
.skills__row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  grid-auto-flow: row;
  justify-items: center;
}
@media (max-width: 768px) {
  .skills__row {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 500px) {
  .skills__row {
    grid-template-columns: repeat(4, 1fr);
  }
}

.portfolio {
  background-color: #f3f3f3;
}
@media (min-width: 769px) and (max-width: 1170px) {
  .portfolio {
    height: auto;
  }
}
@media (max-width: 768px) {
  .portfolio {
    height: auto;
  }
}
.portfolio__heading {
  background-color: #505050;
}
@media (max-width: 768px) {
  .portfolio__heading {
    font-size: 26px;
  }
}
@media (max-width: 500px) {
  .portfolio__heading {
    font-size: 22px;
  }
}
.portfolio__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  padding: 1rem 0;
  padding: 16px;
  grid-auto-flow: row;
  justify-items: center;
}
@media (min-width: 769px) and (max-width: 1170px) {
  .portfolio__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .portfolio__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .portfolio__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.portfolio__card {
  background-color: #19274d;
}
.portfolio__btn {
  display: block;
  padding: 16px;
  transition: 0.5s;
  text-decoration: none;
  font-size: 20px;
}
.portfolio__btn--pink {
  background-color: #E0006C;
  color: #f3f3f3;
}
.portfolio__btn--blue {
  background-color: #19274d;
  color: #f3f3f3;
}
.portfolio__btn--hover:hover {
  background-color: #3CFFFE;
  color: #19274d;
}
.portfolio__btn__icon {
  font-size: 20px;
}

.contact {
  background-color: #86c7ff;
  position: relative;
}
.contact__heading {
  color: #19274d;
  border-bottom: solid 1px #19274d;
}
@media (max-width: 768px) {
  .contact__heading {
    font-size: 26px;
  }
}
@media (max-width: 500px) {
  .contact__heading {
    font-size: 22px;
  }
}
.contact__form {
  font-family: "robotoRegular";
  width: 60%;
  margin: 16px auto 0;
  font-size: 16px;
}
@media (min-width: 769px) and (max-width: 1170px) {
  .contact__form {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .contact__form {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .contact__form {
    width: 90%;
  }
}
.contact__item {
  margin: 0 0 16px;
}
.contact__item:nth-child(1) {
  width: 49%;
  float: left;
}
@media (max-width: 500px) {
  .contact__item:nth-child(1) {
    width: 100%;
    float: none;
  }
}
.contact__item:nth-child(2) {
  width: 49%;
  float: right;
}
@media (max-width: 500px) {
  .contact__item:nth-child(2) {
    width: 100%;
    float: none;
  }
}
.contact__input {
  padding: 10px;
  width: 100%;
  outline: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  border: none;
  background-color: #f3f3f3;
}
.contact__input--error::-webkit-input-placeholder {
  color: #E0006C;
}
.contact__message {
  font-size: 14px;
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  background-color: #f3f3f3;
}
.contact__btn {
  padding: 11px 20px;
  border: solid 2px #19274d;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  transition: 0.5s;
}
@media (max-width: 500px) {
  .contact__btn {
    width: 100%;
  }
}
.contact__btn--blue {
  color: #f3f3f3;
  background-color: #19274d;
}
.contact__btn--hover:hover {
  background-color: #f3f3f3;
  color: #19274d;
}
.contact__btn--disabled:disabled {
  color: #86c7ff;
  background-color: #f3f3f3;
  border-color: #19274d;
}
.contact__response-message {
  font-weight: bold;
  width: 60%;
  color: #19274d;
  padding: 10px;
  margin: 16px auto;
}
.contact__loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #E0006C;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 45%;
  top: 20%;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer {
  display: flex;
  justify-content: center;
  margin: 0 auto 1rem;
  flex-shrink: 0;
  height: 150px;
  width: 100%;
  max-width: 1366px;
  background-color: #19274d;
}
.footer__item {
  padding: 16px;
  color: #f3f3f3;
}
.footer__item:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.footer__link {
  font-size: 22px;
  padding-bottom: 10px;
  color: #f3f3f3;
  text-decoration: none;
}
.footer__link--hover:hover {
  color: #3CFFFE;
}
.footer__icon {
  font-size: 22px;
}

/*# sourceMappingURL=style.css.map */
